/* profile.css */
.user-infos {
    padding: 50px 50px;
}

.user-infos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    border-color: #237ac3; /* indigo-500 in Tailwind / Bootstrap indigo */
}

.user-text {
    font-size: 1.25rem;
}